@{
    ViewData["Title"] = "Confirm";
}

<div>
    <a asp-action="Index" asp-controller="Disputes" class="btn btn-secondary">Index</a>
</div>

<div>
    <h4>This dispute is now resolved.</h4>
</div>

